mixin about()
 section.about
  .about__container
   .about__wrapper
    .about__video
     a.about__link(href="https://youtu.be/cAcUuQ2aD2w?si=5-mb6ajRux8kGUF4", aria-label="Видеообзор")
      +picture("content", "about-cover", "jpg", 545, 365, "Обложка видообзора про производство дрожжей").about__cover
     button.about__button(type="button", aria-label="Запустить видео")
      +icon("icon-triangle", 17, 19)
    .about__content
     h2.about__title
      +icon("icon-number", 148, 66)
      span лет нашего опыта
     p.about__text DuffBeer — один из мировых лидеров по производству дрожжей и других продуктов ферментации. И нам нужна сильная команда профессионалов и единомышленников, которые будут стремиться развиваться вместе с DuffBeer.
     p.about__text Мы всегда рады принять талантливых и целеустремленных людей в нашу дружную команду! Мы ценим каждого своего сотрудника и стремимся предоставить всем равные возможности в развитии <br> и совершенств.
