mixin advantages()
 section.advantages
  .advantages__container
   .advantages__wrapper
    h2.advantages__title Наши преимущества
    .advantages__slider.slider
     ul.advantages__list.accordion
      li.advantages__item.accordion__item
       +pictureVp2("content", "confidence", "jpg", 260, 178, 356, 178, "Мама и сын пускают мыльные пузыри на природе")
       .advantages__content.accordion__content
        h3.advantages__heading.advantages__heading-confidence.accordion__heading Уверенность <br> в завтрашнем дне
        button.advantages__toggle.accordion__input(type="button")
         span.visually-hidden Открыть окно
         +icon("icon-toggle", 15, 15)
        p.advantages__description.accordion__description ООО «Conecom», российское подразделение французского концерна Lesaffre. Мы компания, которая честно ведет свой бизнес на территории РФ, соблюдая законодательство и гарантируя стабильность и уверенность в завтрашнем дне.

      li.advantages__item.accordion__item
       +pictureVp2("content", "safety", "jpg", 260, 178, 356, 178, "Работник на производстве проверяет безопасность оборудования")
       .advantages__content.accordion__content
        h3.advantages__heading.accordion__heading Безопасность на рабочем месте – приоритет №1
        button.advantages__toggle.accordion__input(type="button")
         span.visually-hidden Открыть окно
         +icon("icon-toggle", 15, 15)
        p.advantages__description.accordion__description Вопросам безопасности и качества пищевой продукции в нашей компании уделяется повышенное внимание. Все производства группы DuffBeer в России постоянно работают над улучшением процессов и стремятся сделать все возможное, чтобы рабочий процесс был максимально безопасным и комфортным.

      li.advantages__item.accordion__item
       +pictureVp2("content", "salary", "jpg", 260, 178, 356, 178, "Мужчина смотрит вдаль")
       .advantages__content.accordion__content
        h3.advantages__heading.advantages__heading-salary.accordion__heading Стабильная заработная <br> плата
        button.advantages__toggle.accordion__input(type="button")
         span.visually-hidden Открыть окно
         +icon("icon-toggle", 15, 15)
        p.advantages__description.accordion__description Мы обеспечиваем нашим сотрудникам стабильную заработную плату в соответствии с рынком региона. Средний стаж работы в нашей компании – 7 лет.


      li.advantages__item.accordion__item
       +pictureVp2("content", "health", "jpg", 260, 178, 356, 178, "Мужчина на приёме у врача")
       .advantages__content.accordion__content
        h3.advantages__heading.accordion__heading Заботимся о здоровье сотрудников
        button.advantages__toggle.accordion__input(type="button")
         span.visually-hidden Открыть окно
         +icon("icon-toggle", 15, 15)
        p.advantages__description.accordion__description Каждый сотрудник в нашей компании обеспечен полисом добровольного медицинского страхования. Кроме того, на каждом заводе есть медицинский пункт для сотрудников. Осуществляется страхование от несчастных случаев с первого дня работы.


      li.advantages__item.accordion__item
       +pictureVp2("content", "equipment", "jpg", 260, 178, 356, 178, "Работник в спецодежде на производстве")
       .advantages__content.accordion__content
        h3.advantages__heading.accordion__heading Предоставление удобной спецодежды и СИЗ для производственного персонала
        button.advantages__toggle.accordion__input(type="button")
         span.visually-hidden Открыть окно
         +icon("icon-toggle", 15, 15)
        p.advantages__description.accordion__description Мы предоставляем удобные СИЗ и спецодежду и в случае износа или порчи обмениваются на новые.

      li.advantages__item.accordion__item
       +pictureVp2("content", "training", "jpg", 260, 178, 356, 178, "Сотрудники в офисе на обучающем мероприятии")
       .advantages__content.accordion__content
        h3.advantages__heading.accordion__heading Обучение: различные программы обучения и профессиональные тренинги
        button.advantages__toggle.accordion__input(type="button")
         span.visually-hidden Открыть окно
         +icon("icon-toggle", 15, 15)
        p.advantages__description.accordion__description Мы уделяем много внимания развитию наших сотрудников. В компании работает Внутренний центр обучений и ежегодно проводится большое количество обучающих мероприятий как локально на заводах, так и в головном офисе DuffBeer во Франции.

      li.advantages__item.accordion__item
       +pictureVp2("content", "activities", "jpg", 260, 178, 356, 178, "Сотрудники компании на природе у озера")
       .advantages__content.accordion__content
        h3.advantages__heading.accordion__heading Возможности для реализации творческого потенциала
        button.advantages__toggle.accordion__input(type="button")
         span.visually-hidden Открыть окно
         +icon("icon-toggle", 15, 15)
        p.advantages__description.accordion__description Мы ставим перед собой амбициозные и интересные цели, а реализация задач является командной работой сотрудников из различных подразделений.  Мы также принимаем активное участие в работе над кросс-функциональными проектам с коллегами из других стран присутствия DuffBeer.

      li.advantages__item.accordion__item
       +pictureVp2("content", "family", "jpg", 260, 178, 356, 178, "Сотрудники компании со своими детьми на корпоративном мероприятии")
       .advantages__content.accordion__content
        h3.advantages__heading.accordion__heading Мы - семейная компания и любим проводить время вместе
        button.advantages__toggle.accordion__input(type="button")
         span.visually-hidden Открыть окно
         +icon("icon-toggle", 15, 15)
        p.advantages__description.accordion__description Ежегодно мы проводим корпоративные мероприятия не только для наших сотрудников, но и для семей наших сотрудников. А корпоративные подарки для детей сотрудников – наша добрая предновогодняя традиция.

      li.advantages__item.accordion__item
       +pictureVp2("content", "social-care", "jpg", 260, 178, 356, 178, "Мужчина заботится об окружающей среде")
       .advantages__content.accordion__content
        h3.advantages__heading.accordion__heading Мы - социально ответственная компания и заботимся об окружающих
        button.advantages__toggle.accordion__input(type="button")
         span.visually-hidden Открыть окно
         +icon("icon-toggle", 15, 15)
        p.advantages__description.accordion__description Наша миссия лежит в основе социально-корпоративной ответственности. Мы ведем свою деятельность в соответствии с тремя основными правилами:  мы заботимся о людях; наша деятельность устойчива по своей природе; мы заботимся об окружающей среде.

    .advantages__navigation.slider__navigation
     button(type="button", aria-label="Пролистать назад").advantages__button.advantages__button-prev.slider__button.slider__button-prev
      +icon("icon-arrow", 10, 10)
     button(type="button", aria-label="Пролистать вперёд").advantages__button.advantages__button-next.slider__button.slider__button-next
      +icon("icon-arrow", 10, 10)
    .advantages__pagination.slider__pagination

