mixin blockquote()
 section.blockquote
  .blockquote__container
   .blockquote__wrapper
    +icon("icon-quotes", 47, 60)
    h2.visually-hidden Сноска
    p.blockquote__text Каждое 3-е хлебобулочное изделие в мире произведено с использованием продукции DuffBeer
