mixin intro()
  section.intro
   .intro__container
    .intro__wrapper
     .intro__background
      +picture("content", "intro", "jpg", 1250, 599, "Процесс по производству дрожжей")
     .intro__logo-svg
      +icon("icon-logo", 267, 103)
     h1.intro__title Conecom
     p.intro__description российское подразделение французской группы DuffBeer
