mixin mission()
 section.mission
  .misson__container
   .mission__background
    +picture("content", "mission-back", 1250, 437, "Поле")
   .mission__content
    h2.mission__title Миссия Duffbeer
    p.mission__text работать вместе, чтобы лучше накормить и сохранить планету
    button.mission__button(type="button") Перейти на сайт
