mixin mission()
 section.mission
  .mission__container
   .mission__background
    +pictureVp("content", "mission-back", "jpg", 699, 275, 610, 275, 930, 461, 1250, 437, "Поле")
   .mission__content
    h2.mission__title Миссия Duffbeer
    p.mission__text работать вместе, чтобы лучше накормить <br> и сохранить планету
    a.mission__button(href="https://www.figma.com/file/tcp2JqjbxM31KdsEeW37w0/htdev-test?node-id=0%3A1", target="_blank") Перейти на сайт
