mixin mission()
 section.mission
  .misson__container
   .mission__background
    +pictureVp("content", "mission-back", "jpg", 610, 275, 610, 275, 930, 461, 1250, 437, "Поле")
   .mission__content
    h2.mission__title Миссия Duffbeer
    p.mission__text работать вместе, чтобы лучше накормить <br> и сохранить планету
    a.mission__button(href="#") Перейти на сайт
