mixin promo()
 section.promo
  .promo__container
   .promo__wrapper
    h2.promo__title DuffBeer
    p.promo__description Ключевой мировой игрок в области ферментации
    ul.promo__list
     li.promo__item
      +picture("content", "employees", 565, 294, "Сотрудники на совещании в офисе")
      p.promo__text 10 700+ сотрудников
     li.promo__item
      +picture("content", "expert", 294, 240, "Девушка-эксперт в облатси исследования и разработки")
      p.promo__text 570 экспертов R&amp;D
     li.promo__item
      span.promo__number 167
      p.promo__text лет опыта на рынке хлебопечения
     li.promo__item
      +picture("content", "field", 565, 294, "Ржаное поле")
      p.promo__text 25+ лет в России
     li.promo__item
      +picture("content", "branch", 565, 294, "Ржаное поле")
      p.promo__text Филиалы в 50 странах
     li.promo__item
      span.promo__number 4
      p.promo__text направления деятельности
