mixin picture(path, image, format, width, height, altText)
  picture
    source(type="image/webp" srcset="img/" + path + "/" + image + ".webp" + ", " + "img/" + path + "/" + image + "@2x.webp" + " 2x")
    img(class!=attributes.class, src="img/" + path + "/" + image + "." + format, srcset= "img/" + path + "/" + image + "@2x." + format + " 2x", width= width, height= height, alt= altText)

mixin pictureVp(path, image, format, widthXS, heightXS, widthS, heightS, widthM, heightM, widthL, heightL, altText)
  picture(class!=attributes.class)
    source(type="image/webp" media="(min-width: 1340px)" srcset="img/" + path + "/" + image + "-l.webp" + ", " + "img/" + path + "/" + image + "-l@2x.webp" + " 2x", width= widthL, height= heightL)
    source(type="image/webp" media="(min-width: 1020px)" srcset="img/" + path + "/" + image + "-m.webp" + ", " + "img/" + path + "/" + image + "-m@2x.webp" + " 2x", width= widthM, height= heightM)
    source(type="image/webp" media="(min-width: 700px)" srcset="img/" + path + "/" + image + "-s.webp" + ", " + "img/" + path + "/" + image + "-s@2x.webp" + " 2x", width= widthS, height= heightS)
    source(type="image/webp" srcset="img/" + path + "/" + image + "-xs.webp" + ", " + "img/" + path + "/" + image + "-xs@2x.webp" + " 2x")
    source(type="image/webp" media="(min-width: 1340px)" srcset="img/" + path + "/" + image + "-l." + format + ", " + "img/" + path + "/" + image + "-l@2x." + format + " 2x", width= widthL, height= heightL)
    source(type="image/webp" media="(min-width: 1020px)" srcset="img/" + path + "/" + image + "-m." + format + ", " + "img/" + path + "/" + image + "-m@2x." + format + " 2x", width= widthM, height= heightM)
    source(type="image/webp" media="(min-width: 700px)" srcset="img/" + path + "/" + image + "-s." + format + ", " + "img/" + path + "/" + image + "-s@2x." + format + " 2x", width= widthS, height= heightS)
    img(src="img/" + path + "/" + image + "-s." + format, srcset= "img/" + path + "/" + image + "-s@2x." + format + " 2x", width= widthXS, height= heightXS, alt= altText, loading="lazy")&attributes(attributes)

mixin pictureVp2(path, image, format, widthM, heightM, widthL, heightL, altText)
  picture(class!=attributes.class)
    source(type="image/webp" media="(min-width: 1340px)" srcset="img/" + path + "/" + image + "-l.webp" + ", " + "img/" + path + "/" + image + "-l@2x.webp" + " 2x", width= widthL, height= heightL)
    source(type="image/webp" srcset="img/" + path + "/" + image + "-m.webp" + ", " + "img/" + path + "/" + image + "-m@2x.webp" + " 2x")
    source(type="image/webp" media="(min-width: 1340px)" srcset="img/" + path + "/" + image + "-l." + format + ", " + "img/" + path + "/" + image + "-l@2x." + format + " 2x", width= widthL, height= heightL)
    img(src="img/" + path + "/" + image + "-m." + format, srcset= "img/" + path + "/" + image + "-m@2x." + format + " 2x", width= widthM, height= heightM, alt= altText, loading="lazy")&attributes(attributes)

mixin pictureVp3(path, image, format, widthS, heightS, widthM, heightM, widthL, heightL, altText)
  picture(class!=attributes.class)
    source(type="image/webp" media="(min-width: 1340px)" srcset="img/" + path + "/" + image + "-l.webp" + ", " + "img/" + path + "/" + image + "-l@2x.webp" + " 2x", width= widthL, height= heightL)
    source(type="image/webp" media="(min-width: 1020px)" srcset="img/" + path + "/" + image + "-m.webp" + ", " + "img/" + path + "/" + image + "-m@2x.webp" + " 2x", width= widthM, height= heightM)
    source(type="image/webp" srcset="img/" + path + "/" + image + "-s.webp" + ", " + "img/" + path + "/" + image + "-s@2x.webp" + " 2x")
    source(type="image/webp" media="(min-width: 1340px)" srcset="img/" + path + "/" + image + "-l." + format + ", " + "img/" + path + "/" + image + "-l@2x." + format + " 2x", width= widthL, height= heightL)
    source(type="image/webp" media="(min-width: 1020px)" srcset="img/" + path + "/" + image + "-m." + format + ", " + "img/" + path + "/" + image + "-m@2x." + format + " 2x", width= widthM, height= heightM)
    img(src="img/" + path + "/" + image + "-s." + format, srcset= "img/" + path + "/" + image + "-s@2x." + format + " 2x", width= widthS, height= heightS, alt= altText, loading="lazy")&attributes(attributes)
